<div class="center">

  <div class="login">
    <p class='page-title'>Log IN</p>

    <%= form_for @account, url: sessions_path do |f| %>

      <p><%= f.text_field :email , placeholder: 'email', class:'form-field'%></p>

      <p><%= f.password_field :password , placeholder: 'password', class:'form-field'%></p>

      <%= f.submit "Submit", class: 'form-btn'%>
    <% end %>

  </div>
</div>
