// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new account
.center{
  width: 100%;
  text-align:center;
}

.register{
  display: inline-block;
  width: 500px;
  height: 340px;
  margin: 50px 0px 10px 0px;
  border: solid 2px #888;
  border-radius: 5px;
  text-align: center;
}

.page-title{
  font-size: 36px;
}

.form-field{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
}

.form-btn{
  width: 80%;
  height: 40px;
}

//show account
.container{
  display:flex;
}
.col{
  flex: 50%;
}
.balance-title{
  font-size: 20px;
}
.stock{
  font-size: 16px;
}
#port-value{
  font-size: 20px;
}
//
// .trades{
//   padding: 5px 10px 0px 10px;
// }
.trade{
  font-size: 18px;
  border-bottom: 1px solid #888;

  padding: 0px 10px 15px 10px;

}
