/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  */
@import "bootstrap";

html, body{
  height: 100%;
}

body{
  background-image: radial-gradient(
    ellipse at center,
    rgba(0,50,50,1) 0%,
    rgba(0,0,0,1) 100%);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    background:
      repeating-linear-gradient(
        -45deg, transparent,
        transparent 1px,
        rgba(0, 0, 0, .3) 1px,
        rgba(255,255,255, .1) 10px
      );

  }
  background-attachment: fixed;
}

h1{
   font-family:  'Permanent Marker', cursive;
   font-size: 70px;
   color: #eeeeee;
}

h4, li, p, div, .btn{
  font-family: 'Raleway', sans-serif;
  color: #cccccc;
}

.root{
  width: 100%;
  height: 100%;
}
.root-head{
  padding: 100px 0px 100px 0px;
  text-align: center;
  margin: 0px auto;
  top:50%;
}
.more-info{
  width: 60%;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0px auto;
  padding: 20px;
}

.col{
  flex: 50%;
}
.page-title{
  font-size: 36px;
  margin-top: 20px;
}
.width-100{
  width:100%;
}
