/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  */

// @import "bootstrap-sprockets";
// @import "bootstrap";

body{
  margin: 20px 80px 0px 80px;
}

.container{
  display:flex;
}
.col{
  flex: 50%;
}
.page-title{
  font-size: 36px;
  margin-top: 20px;
}

.register{
  display: inline-block;
  width: 500px;
  height: 290px;
  margin-top: 50px;
  border: solid 2px #3e435e;
  border-radius: 5px;
  text-align: center;
}

.login{
  display: inline-block;
  width: 500px;
  height: 240px;
  margin-top: 50px;
  border: solid 2px #3e435e;
  border-radius: 5px;
  text-align: center;
}

.form-field{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
}
.center{
  width: 100%;
  text-align:center;
}

.trades{
  width: 50%;
}
.trade{
  font-size: 18px;
  font-family: helvetica;
}
