// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
  width: 100%;
  text-align:center;
}

.page-title{
  font-size: 36px;
  margin-top: 20px;
}

.login{
  display: inline-block;
  width: 500px;
  height: 250px;
  margin-top: 50px;
  border: solid 2px #3e435e;
  border-radius: 5px;
  text-align: center;

}

.form-field{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
}
