<div class="width-100">
  <p class='page-title'>Transactions</p>

    <div class=''>
      <% @transactions.reverse.each do |el| %>
          <p class='trade'><%= "BUY ( #{el.symbol} ) - #{el.shares} Shares @ #{el.price.to_f.round(2)} ---------- #{el.created_at}" %></p>
          <hr>

      <% end %>
    </div>
</div>


<script type="text/javascript">
  clearInterval(window.x)

</script>
