
<div class="root-head">
  <h1>Mock Stocks</h1>
  <h4>A mock stock portfolio with real time updates using data from the AlphaVantage API.</h4>

  <p>Go to 'Log In' to access a demo account.</p>

  <div class="">
    More Info:
    <ul>
      <li>Accounts are created with a $5000 USD balance.</li>
      <li>Stocks are traded by specifying ticker symbol and shares.</li>
      <li>API calls are limited per minute so portfolio value may be inaccurate for accounts with 6+ stocks.</li>
    </ul>
  </div>
</div>
