<!-- <p>Welcome, <%= @account.name %>!</p> -->
<p class='page-title'>Transactions</p>

  <div>
    <% @transactions.each do |el| %>
      <div class='trades'>
        <p class='trade'><%= "BUY ( #{el.symbol} ) - #{el.shares} Shares @ #{el.price} ---------- #{el.created_at}" %></p>
        <hr>
      </div>

    <% end %>
  </div>
