<!-- <p>Welcome, <%= @account.name %>!</p> -->
<div class="col">
  <p class='page-title'>Transactions</p>

    <div>
      <% @transactions.each do |el| %>
        <div class='trades'>
          <p class='trade'><%= "BUY ( #{el.symbol} ) - #{el.shares} Shares @ #{el.price.to_f.round(2)} ---------- #{el.created_at}" %></p>
          <hr>
        </div>

      <% end %>
    </div>
</div>


<script type="text/javascript">
  clearInterval(window.x)

</script>
